@import url("https://use.typekit.net/guy7hgk.css");

:root {
	--block-size: 40px;

	--black: #222222;
	--grey: #dddddd;
	--blue: #3a94be;
	--yellow: #fc9f00;
	--red: #b2293e;
	--green: #246751;
}

* {

	/* -moz-hyphens: auto; */
	/* -webkit-hyphens: auto; */
	/* -ms-hyphens: auto; */
	/* hyphens: auto; */
	padding: 0;
	margin: 0;
	font-family: "polymath", sans-serif;
	color: var(--black);
	cursor: url('./cursor.png'), pointer;
}

.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.content-grid {
	display: grid;
	grid-template-columns: 40% 60%;
	width: 100vw;
	height: 100vh;

	background-size: 40px 40px;
	background-image:
		linear-gradient(to right, var(--grey) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grey) 1px, transparent 1px);
}

.title-bar {
	/* border: 1px solid red; */
	height: 15vh;
	width: 100vw;
}

.title-text {
	font-weight: 500;
	color: var(--black);
	padding: .5em;
}

.project-page {
	overflow-y: scroll;
}

.project-page-title {
	font-size: 4em;
	font-weight: 500;
	color: var(--blue);
	padding: .5em;
	margin-top: .5em;
}

.project-page-image-container {
	padding: 1em;
	height: 80vh;
	width: 100vw;
}

.project-page-image-container img {
	width: 45vw;
	padding: 1em;
}

video {
	width: 60%;
	padding: 1em;
}

.description {
	margin-left: 2rem;
	max-width: 70em;
}

.slide-fade-enter-active,
.slide-fade-exit-active {
	transition: opacity 0.3s, transform 0.3s;
}

.slide-fade-enter,
.slide-fade-exit-to {
	transform: translateX(10px);
	opacity: 0;
}

.slide-fade-enter {
	transform: translateX(-10px);
}

.close {
	position: absolute;
	left: 2em;
	top: 2em;

	cursor: url('./pointer.png'), pointer;
}

.about-number.number {
	background-color: #B2293D;
}

.about {
	background-color: white;
	font-size: 1;
	font-weight: 500;
	transition: all 100ms linear;
}

.about>.text {
	border: none;
}

.email {
	border-top: 1px solid black;
	padding: 1rem;
}


.left {
	/* border: 1px solid red; */
	display: grid;
	grid-template-rows: 30% 60%;
}

.right {
	/* border: 1px solid red; */
}

.splash-container {
	overflow: hidden;
}

.splash-inside {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;

	justify-content: center;
	align-items: center;
}

.project-title {
	background-color: white;
	padding: 1em;
	/* //width: 100%; */
	border-top: 1px solid var(--green);
	cursor: url('./pointer.png'), auto;
	font-size: 1.4em;
	font-weight: 600;
	transition: all 100ms linear;
	display: flex;
	justify-content: space-between;
}

.category {
	font-size: .8em;
	font-weight: 400;
}

.project-title:hover {
	transition: all 100ms linear;
	background-color: var(--blue);
	color: white;
}

.floating {
	background-color: white;
	margin: 1.5em;
	outline: thick double #000;
}

.text {
	padding: 1em;
	border: 1px solid var(--black);
	border-top: none;
	background-color: white;
}

p {
	margin-bottom: 1em;
	font-family: "brother-1816", sans-serif;
}

.images:last-child {
	border-bottom: 1px solid var(--green);
}

.images .text-head {
	border-bottom: none;
}


.number {
	background-color: var(--yellow);
	border-radius: 100px;
	color: var(--yellow);
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-right: .5em;
	padding: .2em;
}

.project-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 100;
}


.text-head {
	font-size: 2.5em;
	font-weight: 600;
	padding: 1rem;
	color: var(--black);
	background-color: white;

	border-bottom: 1px solid var(--black);

}

.text-head.title {
	height: calc(100%);
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.logo {
	position: absolute;
	top: .5em;
	left: .3em;
	height: 80%;

}


.text-head.title .title-text {
	font-size: 2.2em;
	color: #376651;
	mix-blend-mode: multiply;
	font-family: "polymath display", "polymath", sans-serif;
	line-height: 1.2em;
	font-weight: 800;
}


.text-head:hover {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
}

.hover-image {
	pointer-events: none;
	position: fixed;
	right: 1em;
	bottom: 1em;
	height: 50vh;
}
